[package]
name = "incpa-ioe"
version.workspace = true
edition.workspace = true
license-file.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
thiserror.workspace = true
